@*@page "/truckdetail/{TruckId:guid}"*@


@if (ShowComponent)
{
<div class="card card-body">


    <button @onclick="Close" class="btn btn-dark   ">&nbsp;&nbsp;-&nbsp;&nbsp;</button>


    <h3>TruckDetails</h3>
    <section class="employee-detail">
        @if (Truck == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <h1 class="page-title">Details for @Truck.Name !!</h1>
            <div class="col-12 row">
                <div class="col-2">
                    <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/1.jpg")" class="img-fluid   employee-detail-img" />
                </div>
                <div class="col-10 row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Name</label>
                            <div class="col-sm-8">
                                <label type="text" class="form-control-plaintext">@Truck.Name</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Description</label>
                            <div class="col-sm-8">
                                <label type="text" readonly class="form-control-plaintext">@Truck.Description</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Year</label>
                            <div class="col-sm-8">
                                <label type="text" readonly class="form-control-plaintext">@Truck.Year</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </section>
</div>
}
