@model Web.Models.Api.Truck
<tr>
    <td>
        <img src="@Model.DefaultPhotoPath" alt="Truck plc" />
    </td>
    <td>
        @Model.Year
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Year
    </td>
    <td class="bold big">
        @Model.Price
    </td>
</tr>