@model ToyTrucks.Web.Models.Api.Truck
<tr>
    <td>
        <div class="truck_list">
            <a asp-action="Detail" asp-route-truckId="@Model.TruckId">
                <img class="listImage" src="/img/trucks/@Model.DefaultPhotoPath" alt="Truck plc" />
            </a>
        </div>
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Year
    </td>
    <td class="bold big">
        @Model.Price
    </td>
    <td>
        <a class="btn-primary" type="button" asp-action="Detail" asp-route-truckId="@Model.TruckId">DETAILS</a>
    </td>
</tr>